:root{
   
 --cor-vermelho: #A1342E;
 --cor-azul: #244256;
 
      
}


body {
    height: 90vh;
    background-image: url("/imagens/background_4.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: "Audiowide", sans-serif;
}


nav.menu-lateral {
    width: 120px;
    height: 100vh;
    background-color: #000000cb;
    padding: 30vh 0 0 0.01%;
    box-shadow: 3px 0 0 #FEE0C0;

    position: fixed;
    top: 0;
    left: 0;

    overflow: hidden;
    transition: 0.4s;

    opacity: 0.9;
}

nav.menu-lateral:hover {
    width: 400px;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: 0.5s;
}

ul li.item-menu:hover {
    background-color: #FEE0C0;
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 5% 10px 15px;
    display: flex;
    line-height: 40px;
}

ul li.item-menu a:hover {
    color: var(--cor-vermelho);
    /*#A1342E*/
    font-weight: bolder;
}

ul li.item-menu a .txt-link {
    margin-left: 35px;
}

ul li.item-menu a .icon > i {
    font-size: 30px;
}

span.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5vh;
    margin-left: 5vh;
    width: 15vh;
}

figure span.logo > img {
    width: 40%;
    height: 40%;
    margin-bottom: 0;
    padding: 0;
}

figure span.logo:hover {
    width: 40vh;
    transition: 1s;
}

.div-glass{  
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    margin: 10px;

}


/* CSS TECNOLOGIAS */

.text-myprojects {
    font-size: 100px;
    color: #eee7e7;
    text-shadow: 3px 3px var(--cor-vermelho);
    text-align: center;
}

.tech-line{
    display: flex;
    justify-content: center;
    padding: 0;
    text-align: center;
    align-items: center;
   }



.tech-image{
    width: 70%;
    transition:
    width 1s,
    height 1s,
    background-color 1s,
    transform 1s;
}

.tech-image:hover{
width: 75%;
-webkit-transform: rotate(360deg);
transform: rotate(360deg);  
}

.tech-name{
    color: white;
    text-shadow: 2px 2px var(--cor-azul);
}

.text-mytechnologies{
    font-size: 60px;
    color: #eee7e7;
    text-shadow: 3px 3px var(--cor-vermelho);
    text-align: center;
}

a{
    color: #eee7e7;
    text-decoration: none;
}

/* CSS PROJETOS */
.proj-line{
    display: flex;
    justify-content: center;
    padding: 0;
    text-align: center;
    align-items: center;
   }



.proj-image{
    width: 70%;
    transition:
    width 1s,
    height 1s,
    background-color 1s,
    transform 1s;
    border-radius: 60%;
    margin-top: 10px;
}


.proj-name{
    color: white;
    text-shadow: 2px 2px var(--cor-azul);
}